svg {
    border: dashed red 0.1em;
}

#catHead {
    animation: tiltingHead 10s infinite;
}

@keyframes tiltingHead {
    0% { transform: rotate(0); transform-origin: 100px 75px }
    67% { transform: rotate(0); transform-origin: 100px 75px }
    75% { transform: rotate(45deg); transform-origin: 100px 75px }
    81% { transform: rotate(0);  transform-origin: 100px 75px }
    100% { transform: rotate(0);  transform-origin: 100px 75px }
}

#dogTail {
    animation: waggingTail 2s infinite;
}

@keyframes waggingTail {
    0% { transform: rotate(0); transform-origin: 81px 150px }
    25% { transform: rotate(-20deg); transform-origin: 81px 150px }
    50% { transform: rotate(0); transform-origin: 81px 150px }
    75% { transform: rotate(-20deg); transform-origin: 81px 150px }
    100% { transform: rotate(0); transform-origin: 81px 150px }
}

#leftEar {
    animation: tiltLeftEar 6s infinite;
}

@keyframes tiltLeftEar {
    0% { transform: rotate(0); transform-origin: 85px 60px }
    68% { transform: rotate(0); transform-origin: 85px 60px }
    75% { transform: rotate(-20deg); transform-origin: 85px 60px }
    82% { transform: rotate(0);  transform-origin: 85px 60px }
    100% { transform: rotate(0);  transform-origin: 85px 60px }
}

#rightEar {
    animation: tiltRightEar 6s infinite;
}

@keyframes tiltRightEar {
    0% { transform: rotate(0); transform-origin: 115px 60px }
    68% { transform: rotate(0); transform-origin: 115px 60px }
    75% { transform: rotate(20deg); transform-origin: 115px 60px }
    82% { transform: rotate(0);  transform-origin: 115px 60px }
    100% { transform: rotate(0);  transform-origin: 115px 60px }
}

.warning{
    color: red;
    font-size: large;
}

.hidden{
    display: none;
    animation-play-state: paused;
}

.invisible {
    visibility: hidden;
}

#allIndex {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . ."
                         ". startPet ."
                         ". text ."
                         ". newPet ."
                         ". . .";

    height: 95vh;
    width: 95vw;
}

#allCreate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . ."
                         ". nameInput ."
                         ". typeSelect ."
                         ". submit ."
                         ". petConfirm ."
                         ". . .";

    height: 75vh;
    width: 95vw;
}

#allPet {
    font-size: 1.6vw;
    display: grid;
    border: 1px solid black;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . home . dropDown"
                         ". . . . dropDown"
                         ". . . . dropDown"
                         ". petSVG petSVG petSVG ."
                         ". petSVG petSVG petSVG ."
                         ". . . . ."
                         ". interactButtons interactButtons  interactButtons  ."
                         ". petStats1 petStats1 petStats1 ."
                         ". petStats2 petStats2 petStats2 ."
                         ". petStatus petStatus petStatus .";
                         
    height: 99.5vh;
    width: 99.85vw;
}

#startPet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: startPet;
}

#startPet select, button {
    flex-basis: 15vw;
    font-size: 1.2vw;
}

#tutorialText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1.2vw;
    grid-area: text;
}


#newPet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: newPet;
}

#newPet button {
    font-size: 1.2vw;
}

.nameInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: nameInput;
}

.nameInput label, input{
    flex-basis: 17.5vw;
    font-size: 1.2vw;
}

#typeSelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: typeSelect;
}

#typeSelector select {
    flex-basis: 17.5vw;
    font-size: 1.2vw;
}

#submitButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: submit;
}

#submitButton button {
    flex-basis: 17.5vw;
    height: 2vw;
    font-size: 1.2vw;
}

#petConfirm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1.2vw;
    grid-area: petConfirm;
}

.petSVG {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: petSVG;
}

#interactButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    flex-basis: 5vw;
    grid-area: interactButtons;
}

.petStats1 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-content: center;
    grid-area: petStats1;
}

.petStats2 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-content: center;
    grid-area: petStats2;
}

.petStats2 meter, label {
    margin: 0 1vw;
}

meter {
    vertical-align: middle;
}

#petStatus {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-content: center;
    grid-area: petStatus;
}

#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: home;
}

#home button {
    flex-basis: 10vw;
}

select:invalid:required {
    background-color: red;
}

#dropdown {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    grid-area: dropDown;
}

.dropdown button {
    flex-basis: 8vw;
}

.options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.options button {
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 1vw;
}

#placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1.2vw;
    color: white;
    grid-area: placeholder;
}
/* .dropdown a:hover {
    background-color: blue;
    color: white;
} */