svg {
    border: dashed red 0.1em;
}

#catHead {
    animation: tiltingHead 10s infinite;
}

@keyframes tiltingHead {
    0% { transform: rotate(0); transform-origin: 100px 75px }
    67% { transform: rotate(0); transform-origin: 100px 75px }
    75% { transform: rotate(45deg); transform-origin: 100px 75px }
    81% { transform: rotate(0);  transform-origin: 100px 75px }
    100% { transform: rotate(0);  transform-origin: 100px 75px }
}

#dogTail {
    animation: waggingTail 2s infinite;
}

@keyframes waggingTail {
    0% { transform: rotate(0); transform-origin: 81px 150px }
    25% { transform: rotate(-20deg); transform-origin: 81px 150px }
    50% { transform: rotate(0); transform-origin: 81px 150px }
    75% { transform: rotate(-20deg); transform-origin: 81px 150px }
    100% { transform: rotate(0); transform-origin: 81px 150px }
}

#leftEar {
    animation: tiltLeftEar 6s infinite;
}

@keyframes tiltLeftEar {
    0% { transform: rotate(0); transform-origin: 85px 60px }
    68% { transform: rotate(0); transform-origin: 85px 60px }
    75% { transform: rotate(-20deg); transform-origin: 85px 60px }
    82% { transform: rotate(0);  transform-origin: 85px 60px }
    100% { transform: rotate(0);  transform-origin: 85px 60px }
}

#rightEar {
    animation: tiltRightEar 6s infinite;
}

@keyframes tiltRightEar {
    0% { transform: rotate(0); transform-origin: 115px 60px }
    68% { transform: rotate(0); transform-origin: 115px 60px }
    75% { transform: rotate(20deg); transform-origin: 115px 60px }
    82% { transform: rotate(0);  transform-origin: 115px 60px }
    100% { transform: rotate(0);  transform-origin: 115px 60px }
}

.warning{
    color: red;
    font-size: large;
}

.hidden{
    display: none;
    animation-play-state: paused;
}

main {
    font-size: 1.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . ."
                         ". nameInput nameInput ."
                         ". typeSelect typeSelect ."
                         ". petSVG petSVG ."
                         ". petSVG petSVG ."
                         ". . . ."
                         ". buttons buttons ."
                         ". petStats petStats ."
                         ". . . ."
                         ". petConfirm petConfirm .";
                         
    height: 50vh;
    width: 100vw;
}

.nameInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: nameInput;
}

.nameInput label, input{
    flex-basis: 22.5vw;
}

input, select {
    font-size: 1.6vw;
}

.typeSelect {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: typeSelect;
}

.typeSelect select, button {
    flex-basis: 22.5vw;
}


.petSVG {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: petSVG;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: buttons;
}

.petStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: petStats;
}

.petStats meter, label {
    flex-basis: 10vw;
}

#petConfirm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: petConfirm;
}