svg {
    border: dashed red 0.1em;
}

#catHead {
    animation: tiltingHead 10s infinite;
}

@keyframes tiltingHead {
    0% { transform: rotate(0); transform-origin: 100px 75px }
    8% { transform: rotate(45deg); transform-origin: 100px 75px;}
    14% { transform: rotate(0);  transform-origin: 100px 75px}
    100% { transform: rotate(0);  transform-origin: 100px 75px}
}

.warning{
    color: red;
}